.shortcode-preview {
	min-height:25px;
	margin-top:5px;
	padding:0 10px;
	line-height:24px;
	color:#666;
}

#edit-slug-box {
	display:none;
}

table.tidy-fields-table {
	margin:0;
	border-top:0;
	border-bottom:0;
}

.tidy-fields-table thead th {
	text-align:left;
	background-color:#e1e1e1;
}

.tidy-fields-table td,
.tidy-fields-table th {
	text-align:left;
	border-top:0;
	border-bottom:1px solid #e1e1e1;
}

.tidy-fields-table td span {
	font-style:italic;
}

.tidy-fields-table .row-title {
	width:5%;
}

.tidy-fields-table .tidy-long-col {
	width:37.5%;
}

.tidy-fields-table .tidy-action {
	width:10%;
}

.tidy-fields-header {
	margin-top:10px;
}

.tidy-fields {
	margin-bottom:10px;
}

.tidy-fields .tidy-field-placeholder {
	display:none;
}

.tidy-fields-sortable .ui-sortable-handle {
	cursor:move;
}

.ui-sortable-helper {
	border-top:1px solid #e1e1e1;
}

.tidy-sortable-placeholder {
	height:42px;
	background-color:#eee;
	border:1px solid #e1e1e1;
}

.tidy-button-delete {
	color:#a00;
	border:0;
	background:transparent;
	cursor:pointer;
}
